
@font-face {
    font-family: "Rustica";
    src: url(../Demo_Fonts/Fontspring-DEMO-7_rustica-bold.otf);
    font-weight: bold;
    font-style: bold;
}  

/* Archivo completo */
*{
    padding: 0px;
    margin: 0px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
}
/* header */
header{
    width: 100%;
    box-shadow: 0px 0px 8px #D9573C;
    margin-bottom: 5px;;
}
.navbar-brand img{
    width: 100px;
    height:90px;
}

/* carusel */
.carousel-inner,
.carousel-item{
    width: 100%;
    height: 250px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* quienes somos */
.card-quienes-somos{
    width: 100%;
    height: 25%;
    color: #191E3A;
}
.quienes-somos{
    text-align: right;
    display: flex;
    align-content: flex-start;
    align-items: center; 
}
.card-quienes-somos img{
    max-height: 350px;
    max-width: 350px;
    object-fit: cover;
}
.btn{
    color: #191E3A;
    background-color: white; 
    border:2px solid #D9573C;
    border-radius: 60px;
    box-shadow: 0px 0px 8px #D9573C;
}
.btn:hover{
    background-color: #191E3A;
    border:2px solid #D9573C;
    color:white;
    transition: 0.5s;

}

/* nuestros progrmas */
.card {
    border-color: #D9573C;
    text-align: center;
    overflow: hidden;
}
h2.text-center{
    margin: 10px;
    border-bottom: 1px solid #D9573C ;
}
.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card:hover img {
    object-fit: cover;
    width: 110%;
    height: 100%;
}
.card-title, .card-text {
    color: #191E3A;
}

/* Nuestros Viajes */
.section-viajes{
   background-color: #f7f6f6; 
}
.viajes{
    height: 400px;
}
.viajes img{
    height: 350px;
    object-fit: cover;
}

/* footer */
footer{
    width: 100%;
    height: 100px;
    background-color: #f7f6f6;
    padding: 1%;
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 10px;
}
footer div{
    width: 100vw;
    height: 50%;
    justify-content: center;
    text-align: center;
    padding: 0.5%;   
}
.redes{
    width: 25%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 0.5%;
}
i.fa-brands{
    font-size: 30px;
    color: #D9573C;
}
.fa-brands{
    width: 100%;
    height: 30px;
} 

/* contactanos */
.formulario-contacto{
    justify-content: center;
}
.formulario-contacto h2{
    color: #191E3A;
}


.formulario-contacto .btn{
    color: #191E3A;
    background-color: white; 
    border:2px solid #D9573C;
    border-radius: 60px;
    box-shadow: 0px 0px 8px #D9573C;
}
.formulario-contacto .btn:hover{
    background-color: #191E3A;
    border:2px solid #D9573C;
    color:white;
    transition: 0.5s;
}































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































