/* quienes somos */
.card-quienes-somos {
    color: $main-color;
    .quienes-somos {
        text-align: right;
        display: flex;
        align-content: flex-start;
        align-items: center;
    }
    .card-quienes-somos img {
        max-height: 350px;
        max-width: 350px;
        object-fit: cover;
    }
}

.container{
    @include custom-card-styles(#D9573C, #191E3A, #D9573C);
}

